.color-row{
    text-align: left;
    margin-bottom: 1em;
    align-content: center;
}

.color-col{
    margin-bottom: 1em;
}

.option{
    font-size: 12px;
    width: 200px;
    height:30px;
}

.control-row{
    margin-bottom: 5px;
    margin-top: 5px;
}

#btnConfirm{
    font-size: 15px;
}